<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCl6OJq48zBZZrfhd8123x4-ghJ1aA04W8</string>
	<key>GCM_SENDER_ID</key>
	<string>520035837998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dendyapp.dendyappp</string>
	<key>PROJECT_ID</key>
	<string>dendyapp-1ec3a</string>
	<key>STORAGE_BUCKET</key>
	<string>dendyapp-1ec3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520035837998:ios:851330b548c711d3c497bf</string>
</dict>
</plist>